[submodule "core/models"]
	path = core/models
	url = git@github.com:aridupuy/billeteraVirtual-modelos.git
[submodule "core/traits"]
	path = core/traits
	url = git@github.com:aridupuy/billeteraVirtual-Traits.git
