table
  width: 100%
  border-collapse: collapse
  text-align: left
  overflow: hidden
  overflow-y: auto
  overflow-x: auto
  thead
    background: $table-bg
    tr
      border-bottom: 2px solid $secundario
     
    th
      padding: 20px
      text-align: center
      font-size: 90%
    .checkbox
      width: 20px
      text-align: center

  tbody
    tr
      border-bottom: 1px solid $border
      &:last-of-type
        border: none
    td
      padding: 20px
      font-size: 80%
      text-align: center
    .actions
      +flexbox(row,wrap,flex-start,center,center)
      text-align: center
      i
        padding-left: 10px
        color: $principal
        font-size: 120%
        transition: all 0.5s ease-in-out
        cursor: pointer
        &:hover
          filter: brightness(70%)
      .activo
        border-radius: 20px
        padding: 5px 15px
        background: $principal
        color: $white
      .inactivo
        border-radius: 20px
        padding: 5px 15px
        background: $action-violeta
        color: $white
      .pre-registro
        border-radius: 20px
        padding: 5px 15px
        background: $action-naranja
        color: $white
      .pendiente
        border-radius: 20px
        padding: 5px 15px
        background: $action-celeste
        color: $white
      .rechazado
        border-radius: 20px
        padding: 5px 15px
        background: $action-rojo
        color: $white
      .suspendido
        border-radius: 20px
        padding: 5px 15px
        background: $action-amarillo
        color: $dark-gray
#dataTable_wrapper
  +flexbox(row,wrap,space-between,center,center)
  width: 100%
  .dataTables_actions
    width: 50%
    +flexbox(row,wrap,flex-start,center,center)
    font-size: 90%
    select
      width: auto
      padding: 5px 0
      font-size: 90%
    button
      width: auto
      background: $principal
      color: $white
      padding: 5px 10px
      border: none
      &:focus
        outline: none
  .dataTables_length
    width: 50%
    padding: 10px 20px
    font-size: 90%
    +flexbox(row,wrap,flex-end,center,center)
    select
      width: auto
      padding: 5px 0
      font-size: 90%
  .dataTables_info 
    padding: 10px 20px
    width: 50%
    background: $table-bg
    +flexbox(row,wrap,flex-start,center,center)
  .dataTables_paginate
    padding: 10px 20px
    width: 50%
    background: $table-bg
    +flexbox(row,wrap,flex-end,center,center)
    .paginate_button
      margin: 0 10px
      cursor: pointer
      color: $dark-gray
      &.current
        background: $principal
        color: $white
        padding: 5px 10px
        border-radius: 50%