table
  width: 100%
  border-collapse: collapse
  text-align: left
  overflow: hidden
  overflow-y: auto
  overflow-x: auto
  thead
    tr
      border-bottom: 2px solid $secundario
    th
      padding: 10px 10px 20px 10px

  tbody
    tr
      border-bottom: 1px solid $border
      &:last-of-type
        border: none
    td
      padding: 15px 10px
