@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-arrow-prev,.slick-arrow-next{
    border: none;
    font-size:200%;
    padding:1em;
    position:absolute;
    top:40%;
    background-color:none;
    cursor:pointer;
    z-index:150;
    transition:all 0.3s;
    color: #525252;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.slick-arrow-prev:hover{
    -webkit-animation-name: hvr-bob-prev-float, hvr-bob-prev;
    animation-name: hvr-bob-prev-float, hvr-bob-prev;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.slick-arrow-next:hover{
    -webkit-animation-name: hvr-bob-next-float, hvr-bob-next;
    animation-name: hvr-bob-next-float, hvr-bob-next;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.slick-arrow-prev
{
    left: -10%;
}

.slick-arrow-next
{
    right: -10%;
}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: none;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@media screen and  (max-width: 1024px){
.slick-prev
{
    left: 5%;
}

.slick-next
{
    right: 5%;
}
}


/* Bob prev */
@-webkit-keyframes hvr-bob-prev {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes hvr-bob-prev {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@-webkit-keyframes hvr-bob-prev-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes hvr-bob-prev-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/* Bob next */
@-webkit-keyframes hvr-bob-next {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@keyframes hvr-bob-next {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@-webkit-keyframes hvr-bob-next-float {
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(-8px);
  }
}
@keyframes hvr-bob-next-float {
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}