*
    box-sizing: border-box
    padding: 0
    margin: 0
html
    margin: 0 !important
    scroll-behavior: smooth
body
    font-family: $font
    font-size: 14px
    color: $medium-gray
    background: $body-bg

::-moz-selection
    background: $principal
    color: $secundario
::selection
    background: $principal
    color: $secundario

section
    padding: 5% 0

main
    +flexbox(row,wrap,flex-start,flex-start,flex-start)
.main-content
    +flexbox(row,wrap,space-between,flex-start,flex-start)
    width: 100%
    padding: 2%
.content-100
    width: 100%
.content-80
    width: 74.33%
    
    +flexbox(row,wrap,space-between,flex-start,flex-start)
.content-20
    +flexbox(row,wrap,space-between,flex-start,flex-start)
    width: 24.33%

// Contenedor
.contenedor
    width: 100%
    box-shadow: $box-shadow
    border-radius: 5px
    padding: 20px
    background: $filters-bg
    margin: 10px 0
    overflow: hidden
    overflow-x: auto
    &::-webkit-scrollbar
        width: 2px
        height: 5px
        background: $body-bg
    &::-webkit-scrollbar-thumb
        background: $principal
        border-radius: 20px
.contenedor-tabla
    width: 100%
    box-shadow: $box-shadow
    border-radius: 5px
    padding: 0px
    background: $filters-bg
    margin: 10px 0
    overflow: hidden
    overflow-x: auto
    &::-webkit-scrollbar
        width: 2px
        height: 5px
        background: $body-bg
    &::-webkit-scrollbar-thumb
        background: $principal
        border-radius: 20px
#main
    width: 100%
.encabezado-wrapper
    width: 100%
    +flexbox(row,wrap,space-between,center,center)
    margin-bottom: 20px
// INPUTS
input:not([type='checkbox']), textarea
    padding: 12px 15px
    border: none
    width: 100%
    background: $input-bg
    border-radius: 5px
    color: $dark-gray
    -webkit-appearance: none
    &:focus
        outline: none
    &::placeholder
        color: $light-gray
input[type='checkbox']
    cursor: pointer
select
    padding: 12px 15px
    border: none
    width: 100%
    background: $input-bg
    border-radius: 5px
    color: $dark-gray
    &:focus
        outline: none
    
.btn-outline
    border: 2px solid $principal
    background: transparent
    color: $principal
    border-radius: 20px
    padding: 10px 25px
    font-weight: $semi-bold
    text-align: center
    cursor: pointer
.btn
    border: 2px solid $principal
    border-radius: 20px
    padding: 10px 25px
    font-weight: $semi-bold
    color: $white
    background: $principal
    text-align: center
    cursor: pointer
.check
    &::after
        content: '\f00c'
        font-family: 'Font Awesome 5 Pro'

        color: $secundario
        font-weight: $bold
.error
    &::after
        content: '\f00d'
        font-family: 'Font Awesome 5 Pro'
        color: $error
        font-weight: $bold
.pendiente
    &::after
        content: 'Pendiente'
        font-family: $font-principal
        color: $error
        font-weight: $regular
.completada
    &::after
        content: 'Completada'
        font-family: $font-principal
        color: $secundario
        font-weight: $regular
// Header
header
    +flexbox(row,wrap,space-between,center,center)
    padding: 20px 2%
    background: $principal
    .logo
        width: 70%
        img
            max-width: 8%
    .hamburger
        color: $white
        width: 30%
        font-size: 150%
        padding-left: 10px
        display: flex
        cursor: pointer
    .logout-wrapper
        width: 30%
        +flexbox(row,wrap,flex-end,center,center)
        .logout
            width: 50px
            height: 50px
            border-radius: 50%
            background: $white
            color: $principal
            cursor: pointer
            +flexbox(row,wrap,center,center,center)
    
.encabezado
    width: auto
    height: auto
    +flexbox(row,wrap,flex-start,flex-end,flex-end)
    h1
      width: auto
    .total-count
      padding-left: 10px
      width: auto

.popup-wrapper
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.3)
    display: none
    position: absolute
    top: 0%
    .popup
        box-shadow: $box-shadow
        border-radius: 5px
        padding: 20px
        background: $filters-bg
        width: 50vw
        height: 50vh
        position: absolute
        top: 25%
        left: 25%
        margin: 0 auto
    &.active
        display: flex
@media screen and ( max-width: $break-md )
    header .logo
        max-width: 30%
    .encabezado-wrapper .btn-outline
        margin: 0 auto
    #main
        width: 100%
    .main-content
        width: 100%
    .content-80
        width: 100%
    .content-20
        width: 100%