/**
 * interno_util_cv.css - Cobro Digital
 * 
 * @description Hoja de estilo para el modulo interno/util_cv.home.html
 * @author Juampa
 * @copyright Julio 2020
 */


/*Modal detalles de movimiento*/
div.modal{
    z-index: 1025;
}
.modal-detalles-titulo{
    margin: 1.75em auto 0.25em auto !important;
    padding-left: 0.5em !important;
}

.selector-fila{
    background-color: #ffd1b3 !important;
}

/*Mensajes*/
@keyframes FadeAnimation {
    0% {
      opacity: 1;
      visibility: visible;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
}

.mostrarAnimacion{
    animation: FadeAnimation 8s ease-in .2s forwards;    
}

/*Tablas*/
table.table>tbody>tr>td.td-datos-iva{
    background-color: #cdd4e5 !important;
}
table.table>thead.centrada>tr>th.th-datos-iva{
    background-color: #abb8d4;
}
table.table>thead.centrada>tr>th.th-cabecera-iva{
    background-color: #8B9DC3;
}
table.table>tbody>tr>td.td-datos-gnc{
    background-color: #cde5d9 !important;
}
table.table>thead.centrada>tr>th.th-datos-gnc{
    background-color: #abd4c0;
}
table.table>thead.centrada>tr>th.th-cabecera-gnc{
    background-color: #89c2a6;
}
table.table>tbody>tr>td{
    text-align: center;
}
table.table>thead.centrada>tr>th{
    text-align: center;
}
.hr {
    background-color: #b6b6b3 !important;
    display: block;
    margin: 1rem 0;
}

#periodo:hover{
    cursor: pointer;  
}

.ui-datepicker-calendar {
    display: none;
}

#tabla-archivos{
    display: table !important;
    color: #212529;
}

#tabla-archivos thead {
    background-color: #3e444a;
    color: ghostwhite;
}

#tabla-archivos-cabecera th, #tabla-archivos td {
    padding: 15px !important;
    border-bottom: solid 1px #ddd;
    text-align: left;
}

#tabla-archivos tbody tr:hover {
    background-color: Gainsboro !important;
}    

#tabla-archivos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabla-archivos td{
    padding: 15px !important;
    text-align: left;
}