@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700,800,500|Signika+Negative:400,600,700|Chivo:400,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400|Open+Sans:300,400,400italic,600,600italic,700,700italic);
html {
    height: 100%;
}
body{
    margin: 0px!important;
}
.body {
    background-color: none!important;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px!important;
    height: 100%;
}

input[type="button"],
input[type="submit"],
.aceptar,
.cancelar {
    border: 0px;
    height: 32px;
    line-height: 16px;
    vertical-align: middle;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    /*transition: all 0.3s ease-out;*/
}

input[type="button"]:hover,
input[type="submit"]:hover,
.aceptar:hover,
.cancelar:hover {
    background-color: #f3989b;
}

.buscador {
    padding-left: 8px;
    border: 0px;
    height: 32px;
    width: 150px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.09), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

page input[type="text"],
page input[type="number"],
page input[type="date"],
page input[type="email"],
input[type="password"] {
    padding-left: 8px;
    border: 0px;
    height: 32px;
    width: 158px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.09), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

page select {
    width: 166px;
}

textarea {
    width: 525px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.09), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

select {
    background-color: white;
    border: 0px;
    padding-left: 8px;
    height: 32px;
    width: 158px;
    height: 34px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.09), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

option {
    padding: 5px 0;
}

nav {
    background-color: rgb(150, 47, 47);
    color: #f0f0f0;
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #7D7D7D;
    top: 0;
    height: 32px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.04);
}

#main {
    display: block;
}

#miFormulario {
    background-color: white!important;
    width: 100%;
    padding-bottom: 32px;
    display: block;
    text-align: left;
}

.footer {
    line-height: 32px;
    font-size: 10px;
    text-align: center;
    background-color: rgba(216, 85, 85, 0.8);
    color: #f0f0f0;
}
.submenu{
    color: black !important;
}
::selection {
    color: #fff;
    background: darkgrey !important;
}
#main table .fa {
    font-size: 15px;
    margin-right: 3% !important;
    margin-left: 6% !important;
    display: inline-block

}

td,th{
    word-wrap:break-word;
}
.tituloWeb {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    float: left;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    /*width: 30%;*/
    text-align: left;
    vertical-align: middle;
}

.menu {
    background-color: rgba(53, 139, 18, 0.8);
    display: inline-block;
    float: left;
}

.menu input {
    height: 32px;
    line-height: 32px;
    background-color: rgba(53, 139, 18, 0.8);
    color: #f0f0f0;
}

.controlUsuario {
    float: right;
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    background-color: rgba(216, 85, 85, 0.8);
}

.icono-nav {
    font-size: 20px;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    float: right;
    text-decoration: none;
    color: white;
}

.fa {
    cursor: pointer;
}

header {
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-right: 10px;
    height: 25px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

header input {
    float: right;
}

#miFormulario{
    font-family: sans-serif;
    color: #565454 !important;
}
#miFormulario pre {
    font-family: monospace 

        /*padding-left: 25px;
            padding-top: 25px;*/
}

page {
    padding-top: 10px;
    /*text-align: center;*/
    /*	width: 50%;
        float: left;*/
}

page div {
    padding-left: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
}

page section {
    padding-top: 4px;
    padding-bottom: 4px;
}

page span {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 142px;
    padding-right: 8px;
    text-align: right;
}

page a {
    text-align: left;
    line-height: 32px;
    height: 32px;
    padding-left: 16px;
    padding-right: 8px;
}

.titulo {
    float: left;
    display: inline-block!important;
}

.submenu {
    background-color: rgba(216, 85, 85, 0.8);
    width: 100%;
    padding: 10px 0 10px 0;
    /*padding: 10px;*/
    border-bottom: 2px solid #962F2F;
    display: table;
}

.submenu input {
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 10px;
    padding-left: 8px;
    border: 0px;
    width: 158px;
}

.submenu input[type="submit"],
.submenu input[type="button"] {
    height: 34px;
    width: 60px;
    background-color: #7E7E7E;
    color: white;
}

.submenu input[type="date"] {
    height: 34px;
    width: 158px;
}

.submenu input:hover {}

.submenu select {
    float: left;
    box-shadow: none;
}

.submenu i {
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.paginador {
    background-color: #7E7E7E;
    color: white;
    text-align: center;
    font-size: 16px;
}

.paginador i {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-style: normal;
    /* El i se interpreta como italica!*/
}

.paginador .cantidad_registros {
    float: right;
    line-height: 21px;
    padding-right: 25px;
    font-size: 10px;
}

.centro {
    text-align: center;
}

.subtitulo {
    padding-left: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    /*border-bottom: 1px solid #ccc;*/
    /*background-color: #ccc;*/
    /*color: #f0f0f0;*/
}
.filter{

}
th{ white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}
.dataTables_paginate.paging_simple_numbers .paginate_button.current {
    background-color: #de7778 !important;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
}
div.container {
    width: 80%;
}
#main table {
    margin: 0 auto;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    overflow-x: visible;
    /*display: contents;*/
}

#main table tr:nth-child(2n) {}

#main table tr:nth-child(2n+1) {}

#main table tr:hover {
    background-color: #C3C3C3;
}

.encabezado {
    height: 20px;
    line-height: 20px;
    background-color: rgba(216, 85, 85, 0.8);
    color: #f0f0f0;
}

.fila {
    color: rgba(0, 0, 0, 0.71);
    width: 100%;
}

.fila:hover {
    background-color: #26a69a;/**/
    /*height:64px;*/
}

.fila-expandida {
    border-left: 5px solid #ccc;
}

#main table tr {
    border-bottom: 1px solid #ccc;
}

#main table tr td,
#main table tr th {
    /*font-weight: normal;*/
    /*padding: 7px 4px;*/
}

#main table tr td:nth-child(1),
#main table tr th:nth-child(1) {
    padding-left: 20px;
    /*background-color: #D83737*/
}

#main table tr td:last-child,
#main table tr th:last-child {
    padding-right: 20px;
    /*background-color: #D83737*/
}

#main table tfoot {
    height: 32px;
    line-height: 32px;
    background-color: #5c5757;
    color: #f0f0f0;
}

.agregar,
.quitar {
    background-color: #26a69a
}

.aceptar {
    margin-top: 32px;
    background-color: #26a69a;
}

.cancelar {
    margin-top: 32px;
    background-color: none;
}

.ayuda {
    font-size: 9px;
}

.link {
    cursor: pointer;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}

.ver,
.edit,
.delete {
    font-size: 1.4em!important;
    vertical-align: middle;
}


/*.edit::after{
        font-size: 9px;
        content:"Editar";
}*/

.ver:hover,
.edit:hover,
.delete:hover,
.sign:hover {
    color: white;
}

.columnaRegistro {
    /*text-align: center;*/
    width: 40%;
}

.encabezadoRegistro {
    border: none!important;
}

.encabezadoDosRegistro {
    height: 20px;
    line-height: 20px;
    background-color: #f3989b;
    color: #f0f0f0;
}

.red {
    color: red;
}

.green {
    color: green;
}

.box {
    width: 950px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.agregador,
.quitador {
    font-size: 1.4em;
    /*text-transform: uppercase;*/
    color: rgba(216, 85, 85, 0.8);
    cursor: pointer;
}

.agregador:hover::after {
    font-size: 12px;
    color: black;
    content: '  Agregar';
}

.quitador:hover::after {
    font-size: 12px;
    color: black;
    content: '  Quitar';
}

.mensaje_log {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0%;
    left: 100%;
    width: 400px;
    height: 65px;
    margin-left: -400px;
    margin-top: 64px;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
    z-index: 1;
    -webkit-box-shadow: 6px 6px 300px 200px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 6px 6px 300px 200px rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.368);
    background-color: #962F2F;
    border: none;
    word-break: break-word;
    cursor: pointer;
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
}

.teatro {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}

.teatro i {
    padding: 80px;
    color: rgba(216, 85, 85, 0.8);
    display: block;
}

.pl {
    padding-left: 50px;
}

.repetidor {
    padding-left: 10px;
    padding-right: 10px;
}

/*COLORES*/
.inner th {}

.outer {
    position: relative;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.inner {
    overflow-x: scroll;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.subsistema {
    width: 100%;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    height: 100%;
    height: 1000px;
    /*TEMP*/
}

page .vista_previa_de_correo {
    border: rgb(161, 160, 160) 1px solid;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /*height: 500px;*/
    overflow-y: scroll;
    margin: 0px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
    font-size: initial;
    font-family: inherit;
    text-decoration: none;
    padding: 20px;
}

.debug {
    border-top: 1px solid #000;
    background: #F5E88B;
    padding-left: 32px;
}

#theInner #miFormulario {
    /*DEBE USARSE ALGO COMO ESTO PARA LA INTERFAZ!*/
    margin: 0!important;
}

.wait {
    cursor: wait;
}

.manual {
    position: fixed;
    top: 0px;
    left: 0;
    display: none;
    height: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 2;
    border-left: 20px solid #F1F1F1;
    overflow-y: auto;
}
.manual div{
    padding-bottom: 100px;
}

.contenedor_de_etiquetas {
    display: block;
    width: 500px;
    padding: 0px;
}
.error {
    border-color: #d83737 !important;
    border: 2px solid !important;
    border-color: #d83737 !important;

}
.contenedor_de_etiquetas div {
    display: inline-block;
    background-color: #D8D8D8;
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #DF7777
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-style: panner;
}
.dataTables_paginate paging_simple_numbers>span{
    display: inherit;
    height: inherit;
    line-height: inherit;
    width: inherit;
    padding: 0;
    text-align: center;
}
.dataTables_paginate paging_full_numbers>span{
    display: inherit;
    height: inherit;
    line-height: inherit;
    width: inherit;
    padding: 0;
    text-align: center;
}
.contenido-debitos-en-lote, .contenido-boletas-en-lote {
    width: 100%;
    padding: 0 3%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start; }
/* line 6, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .btn-descargar-modelo, .contenido-boletas-en-lote .btn-descargar-modelo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background: #FF4545;
    font-size: 120%;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px; }
/* line 18, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .btn-descargar-modelo .icono-descarga, .contenido-boletas-en-lote .btn-descargar-modelo .icono-descarga {
    width: 12%;
    padding: 20px;
    border-right: 2px solid #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    filter: brightness(0) invert(1); }
/* line 24, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .btn-descargar-modelo .icono-descarga img, .contenido-boletas-en-lote .btn-descargar-modelo .icono-descarga img {
    width: 19px; }
/* line 26, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .btn-descargar-modelo .titulo-boton, .contenido-boletas-en-lote .btn-descargar-modelo .titulo-boton {
    width: 88%;
    text-align: center;
    padding: 20px; }
@media screen and (max-width: 450px) {
    /* line 26, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .btn-descargar-modelo .titulo-boton, .contenido-boletas-en-lote .btn-descargar-modelo .titulo-boton {
        width: 85%;
        padding: 20px 10px;
        font-size: 90%; } }
/* line 34, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .btn-descargar-modelo:hover, .contenido-boletas-en-lote .btn-descargar-modelo:hover {
    background: #616161;
    opacity: 0.7; }
/* line 37, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos, .contenido-boletas-en-lote .subir-archivos {
    width: 100%;
    margin-top: 35px;
    height: auto;
    min-height: 14vw;
    padding: 20px;
    position: relative;
    border: 1px dotted rgba(97, 97, 97, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.3s ease; }
/* line 48, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos:hover, .contenido-boletas-en-lote .subir-archivos:hover {
    border-color: #FF4545;
    background-color: #F7F7F7; }
/* line 51, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos .txt-subir-archivos, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
@media screen and (max-width: 450px) {
    /* line 51, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .subir-archivos .txt-subir-archivos, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos {
        width: 90%; } }
/* line 56, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos .txt-subir-archivos .icono-subir, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos .icono-subir {
    width: 6%;
    margin-bottom: 20px; }
@media screen and (max-width: 450px) {
    /* line 56, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .subir-archivos .txt-subir-archivos .icono-subir, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos .icono-subir {
        width: 20%; } }
/* line 61, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos .txt-subir-archivos .txt-subir, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos .txt-subir {
    width: 50%;
    text-align: center;
    color: #616161;
    font-size: 180%;
    font-weight: 500;
    opacity: 0.5; }
@media screen and (max-width: 450px) {
    /* line 61, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .subir-archivos .txt-subir-archivos .txt-subir, .contenido-boletas-en-lote .subir-archivos .txt-subir-archivos .txt-subir {
        width: 100%; } }
/* line 70, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos .btn-examinar, .contenido-boletas-en-lote .subir-archivos .btn-examinar {
    width: auto;
    min-width: 15%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid #FF4545;
    background: none;
    color: #FF4545;
    font-weight: 500; }
@media screen and (max-width: 450px) {
    /* line 70, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .subir-archivos .btn-examinar, .contenido-boletas-en-lote .subir-archivos .btn-examinar {
        min-width: 50%; } }
/* line 84, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .subir-archivos .btn-examinar:hover, .contenido-boletas-en-lote .subir-archivos .btn-examinar:hover {
    background: #FF4545;
    color: #fff; }
/* line 87, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .form-buttons, .contenido-boletas-en-lote .form-buttons {
    margin-top: 40px; }
/* line 89, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores, .contenido-boletas-en-lote .archivos-anteriores {
    width: 100%;
    height: auto;
    padding: 50px;
    position: relative;
    border: 1px dotted rgba(97, 97, 97, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
@media screen and (max-width: 800px) {
    /* line 89, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .archivos-anteriores, .contenido-boletas-en-lote .archivos-anteriores {
        padding: 50px 25px;
        margin-top: 30px; } }
/* line 99, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores h4, .contenido-boletas-en-lote .archivos-anteriores h4 {
    width: 100%; }
@media screen and (max-width: 450px) {
    /* line 99, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .archivos-anteriores h4, .contenido-boletas-en-lote .archivos-anteriores h4 {
        margin-bottom: 15px; } }
/* line 103, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores h5, .contenido-boletas-en-lote .archivos-anteriores h5 {
    width: 100%; }
@media screen and (max-width: 450px) {
    /* line 103, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .archivos-anteriores h5, .contenido-boletas-en-lote .archivos-anteriores h5 {
        font-size: 110%;
        line-height: 1.2; } }
/* line 108, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla {
    margin-top: 25px; }
/* line 111, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla td:first-of-type, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla td:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
/* line 113, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla td input[type="radio"], .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla td input[type="radio"] {
    margin-right: 5px; }
@media screen and (max-width: 450px) {
    /* line 113, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla td input[type="radio"], .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla td input[type="radio"] {
        margin-right: 0; } }
/* line 117, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer; }
/* line 121, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar img, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar img {
    width: 13px;
    margin: 0;
    filter: brightness(0);
    opacity: 0.5;
    transition: all 0.3s ease; }
/* line 127, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar span, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar span {
    width: auto;
    margin: 0;
    padding-left: 15px;
    text-transform: uppercase;
    color: #616161;
    font-weight: 500;
    transition: all 0.3s ease; }
@media screen and (max-width: 450px) {
    /* line 127, ../sass/layout/_debitos-boletas-en-lote.sass */
    .contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar span, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar span {
        padding: 5px 0 0 0; } }
/* line 138, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar:hover img, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar:hover img {
    filter: none; }
/* line 140, ../sass/layout/_debitos-boletas-en-lote.sass */
.contenido-debitos-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar:hover span, .contenido-boletas-en-lote .archivos-anteriores .contenedor-tabla .btn-descargar:hover span {
    color: #FF4545; }
 .item-opciones label {
    background-image: url(public/img/lite-gray-check.png);
    padding-left: 30px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.item-opciones input[type="checkbox"] {
    -webkit-appearance: none;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

 .item-opciones input[type="checkbox"]:checked + label {
    background-position: 0 -15px;
}
