@charset "UTF-8";
h1 {
  font-weight: 400;
  font-size: 250%;
  color: #414141;
  width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 140%;
  color: #414141;
  width: 100%;
}

p {
  white-space: pre-line;
  line-height: 1.5;
  width: 100%;
}

a {
  color: #007C68;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0 !important;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #606060;
  background: #fff;
}

::-moz-selection {
  background: #007C68;
  color: #00BDA8;
}

::selection {
  background: #007C68;
  color: #00BDA8;
}

section {
  padding: 5% 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 2%;
}

.content-100 {
  width: 100%;
}

.content-80 {
  width: 74.33%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.content-20 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 24.33%;
}

.contenedor {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  background: #F8F8F8;
  margin: 10px 0;
  overflow: hidden;
  overflow-x: auto;
}
.contenedor::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  background: #fff;
}
.contenedor::-webkit-scrollbar-thumb {
  background: #007C68;
  border-radius: 20px;
}

.contenedor-tabla {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px;
  background: #F8F8F8;
  margin: 10px 0;
  overflow: hidden;
  overflow-x: auto;
}
.contenedor-tabla::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  background: #fff;
}
.contenedor-tabla::-webkit-scrollbar-thumb {
  background: #007C68;
  border-radius: 20px;
}

#main {
  width: 100%;
}

.encabezado-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

input:not([type=checkbox]), textarea {
  padding: 12px 15px;
  border: none;
  width: 100%;
  background: #EDEDED;
  border-radius: 5px;
  color: #414141;
  -webkit-appearance: none;
}
input:not([type=checkbox]):focus, textarea:focus {
  outline: none;
}
input:not([type=checkbox])::placeholder, textarea::placeholder {
  color: #D0D0D0;
}

input[type=checkbox] {
  cursor: pointer;
}

select {
  padding: 12px 15px;
  border: none;
  width: 100%;
  background: #EDEDED;
  border-radius: 5px;
  color: #414141;
}
select:focus {
  outline: none;
}

.btn-outline {
  border: 2px solid #007C68;
  background: transparent;
  color: #007C68;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.btn {
  border: 2px solid #007C68;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 600;
  color: #fff;
  background: #007C68;
  text-align: center;
  cursor: pointer;
}

.check::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #00BDA8;
  font-weight: 700;
}

.error::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #c90000;
  font-weight: 700;
}

.pendiente::after {
  content: "Pendiente";
  font-family: "Inter";
  color: #c90000;
  font-weight: 400;
}

.completada::after {
  content: "Completada";
  font-family: "Inter";
  color: #00BDA8;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px 2%;
  background: #007C68;
}
header .logo {
  width: 70%;
}
header .logo img {
  max-width: 8%;
}
header .hamburger {
  color: #fff;
  width: 30%;
  font-size: 150%;
  padding-left: 10px;
  display: flex;
  cursor: pointer;
}
header .logout-wrapper {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
header .logout-wrapper .logout {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #007C68;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.encabezado {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}
.encabezado h1 {
  width: auto;
}
.encabezado .total-count {
  padding-left: 10px;
  width: auto;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 0%;
}
.popup-wrapper .popup {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  background: #F8F8F8;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0 auto;
}
.popup-wrapper.active {
  display: flex;
}

@media screen and (max-width: 800px) {
  header .logo {
    max-width: 30%;
  }

  .encabezado-wrapper .btn-outline {
    margin: 0 auto;
  }

  #main {
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .content-80 {
    width: 100%;
  }

  .content-20 {
    width: 100%;
  }
}
.login #main {
  width: 100%;
}
.login #main .main-content {
  justify-content: center;
}
.login #main .contenedor {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.login #main .contenedor h1 {
  margin-bottom: 20px;
}
.login #main .contenedor button {
  cursor: pointer;
}
.login input {
  margin: 10px 0;
}

.sidebar {
  width: 15%;
  border-right: 1px solid #D0D0D0;
  background: #00BDA8;
  height: 100vh;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
}
.sidebar.active {
  transform: translateX(0);
}
.sidebar .cerrar-menu {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 30px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}
.sidebar nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 30px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.sidebar nav a:hover {
  background: rgba(0, 124, 103, 0.4);
}
.sidebar nav a.active {
  background: rgba(0, 124, 103, 0.4);
}
.sidebar nav a .icon {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sidebar .logout {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 30px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 55%;
    position: absolute;
    left: -300px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}
table thead {
  background: #EDEDED;
}
table thead tr {
  border-bottom: 2px solid #00BDA8;
}
table thead th {
  padding: 20px;
  text-align: center;
  font-size: 90%;
}
table thead .checkbox {
  width: 20px;
  text-align: center;
}
table tbody tr {
  border-bottom: 1px solid #D0D0D0;
}
table tbody tr:last-of-type {
  border: none;
}
table tbody td {
  padding: 20px;
  font-size: 80%;
  text-align: center;
}
table tbody .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;
}
table tbody .actions i {
  padding-left: 10px;
  color: #007C68;
  font-size: 120%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
table tbody .actions i:hover {
  filter: brightness(70%);
}
table tbody .actions .activo {
  border-radius: 20px;
  padding: 5px 15px;
  background: #007C68;
  color: #fff;
}
table tbody .actions .inactivo {
  border-radius: 20px;
  padding: 5px 15px;
  background: #6C00FF;
  color: #fff;
}
table tbody .actions .pre-registro {
  border-radius: 20px;
  padding: 5px 15px;
  background: #FF731C;
  color: #fff;
}
table tbody .actions .pendiente {
  border-radius: 20px;
  padding: 5px 15px;
  background: #5099D8;
  color: #fff;
}
table tbody .actions .rechazado {
  border-radius: 20px;
  padding: 5px 15px;
  background: #FF7773;
  color: #fff;
}
table tbody .actions .suspendido {
  border-radius: 20px;
  padding: 5px 15px;
  background: #F0C63C;
  color: #414141;
}

#dataTable_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}
#dataTable_wrapper .dataTables_actions {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 90%;
}
#dataTable_wrapper .dataTables_actions select {
  width: auto;
  padding: 5px 0;
  font-size: 90%;
}
#dataTable_wrapper .dataTables_actions button {
  width: auto;
  background: #007C68;
  color: #fff;
  padding: 5px 10px;
  border: none;
}
#dataTable_wrapper .dataTables_actions button:focus {
  outline: none;
}
#dataTable_wrapper .dataTables_length {
  width: 50%;
  padding: 10px 20px;
  font-size: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
#dataTable_wrapper .dataTables_length select {
  width: auto;
  padding: 5px 0;
  font-size: 90%;
}
#dataTable_wrapper .dataTables_info {
  padding: 10px 20px;
  width: 50%;
  background: #EDEDED;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
#dataTable_wrapper .dataTables_paginate {
  padding: 10px 20px;
  width: 50%;
  background: #EDEDED;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
#dataTable_wrapper .dataTables_paginate .paginate_button {
  margin: 0 10px;
  cursor: pointer;
  color: #414141;
}
#dataTable_wrapper .dataTables_paginate .paginate_button.current {
  background: #007C68;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.search-bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.search-bar input {
  width: 85%;
  padding: 15px 15px;
  border: none;
  border-radius: 0 !important;
  background: none;
  border-bottom: 1px solid #D0D0D0;
}
.search-bar input:focus {
  outline: none;
}
.search-bar .btn-search {
  background: #00BDA8;
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #00BDA8 !important;
  width: 46px;
  height: 46px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.filtros-wrapper h3 {
  font-weight: 500;
  padding-bottom: 10px;
  width: 100%;
}
.filtros-wrapper .fecha {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.filtros-wrapper .fecha input {
  width: 48%;
}
.filtros-wrapper .fecha label {
  width: 100%;
}
.filtros-wrapper .filtros {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.filtros-wrapper .filtros .filtro {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}
.filtros-wrapper .filtros .filtro input {
  width: 100%;
}
.filtros-wrapper .filtros .filtro label {
  width: 100%;
  padding-bottom: 10px;
}
.filtros-wrapper .filtros .filtro.telefono .prefijo-pais {
  width: 15%;
  color: #414141;
}
.filtros-wrapper .filtros .filtro.telefono .cod-area {
  width: 23%;
  margin: 0 2%;
}
.filtros-wrapper .filtros .filtro.telefono .numero {
  width: 58%;
}
.filtros-wrapper .filtros .filtro.fecha input {
  width: 48%;
}
.filtros-wrapper .filtros .filtro.fecha input:nth-of-type(1) {
  margin-right: 2%;
}
.filtros-wrapper .filtros .filtro.fecha input:nth-of-type(2) {
  margin-left: 2%;
}
.filtros-wrapper .filtros .filtro.monto input {
  width: 48%;
}
.filtros-wrapper .filtros .filtro.monto input:nth-of-type(1) {
  margin-right: 2%;
}
.filtros-wrapper .filtros .filtro.monto input:nth-of-type(2) {
  margin-left: 2%;
}
.filtros-wrapper .filtros .filtros-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  margin: 20px 10px;
  width: 100%;
}
.filtros-wrapper .filtros .filtros-actions .btn, .filtros-wrapper .filtros .filtros-actions .btn-outline {
  width: auto;
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .search-bar {
    width: 100%;
    margin: 4% 0;
  }

  .filtros-wrapper .filtros {
    grid-template-columns: repeat(2, 1fr);
  }
}
.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.tabs .tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px 30px;
  text-align: center;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.tabs .tab:hover {
  background: #00BDA8;
  color: #fff;
}
.tabs .tab:hover::before {
  color: #fff;
}
.tabs .tab::before {
  font-family: "Font Awesome 5 Pro";
  color: #D0D0D0;
  font-weight: 700;
  padding-right: 10px;
}
.tabs .tab.datos-generales::before {
  content: "";
}
.tabs .tab.datos-bancarios::before {
  content: "";
}
.tabs .tab.historial::before {
  content: "";
}
.tabs .tab.configuracion::before {
  content: "";
}
.tabs .tab.agenda-contactos::before {
  content: "";
}
.tabs .tab.new-password::before {
  content: "";
}
.tabs .tab.active {
  background: #EDEDED;
  color: #414141;
}
.tabs .tab.active::before {
  color: #414141;
}

.tab-content {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.tab-content .cardbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background: #fff;
  padding: 10px 30px;
  width: 100%;
  border-radius: 10px;
}
.tab-content .cardbox.multiple {
  background: #F8F8F8;
  padding: 0;
}
.tab-content .cardbox.multiple .cardbox {
  margin-bottom: 10px;
}
.tab-content .cardbox.multiple .cardbox:last-of-type {
  margin-bottom: 0;
}
.tab-content .cardbox .encabezado {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.tab-content .cardbox .encabezado h3 {
  font-size: 110%;
  width: 90%;
}
.tab-content .cardbox .encabezado .link {
  width: 10%;
}
.tab-content .cardbox .dato {
  width: 100%;
  margin: 5px 0;
}
.tab-content .cardbox .dato h4 {
  font-weight: 500;
}
.tab-content .cardbox .dato span {
  width: 100%;
  display: block;
  padding: 2px 0;
}
.tab-content .cardbox .condicion-alcanzada {
  position: relative;
}
.tab-content .cardbox .condicion-alcanzada .riesgo {
  border-top: 1px solid #D0D0D0;
  padding: 15px 0;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.tab-content .cardbox .condicion-alcanzada .riesgo h4 {
  font-weight: 500;
  width: 50%;
}
.tab-content .cardbox .condicion-alcanzada .riesgo .nivel {
  color: #007C68;
  font-size: 160%;
  font-weight: 400;
  width: 50%;
  text-align: right;
}
.tab-content .cardbox .documento {
  background: #fff;
  border-radius: 5px;
  padding: 15px 0px;
  margin: 5px 0;
  width: 100%;
  position: relative;
  color: #D0D0D0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tab-content .cardbox .documento::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #D0D0D0;
  font-weight: 700;
  padding-right: 10px;
}
.tab-content .cardbox .documento::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #414141;
  font-weight: 700;
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.tab-content .cardbox .documento:hover::after {
  color: #00BDA8;
}
.tab-content .cardbox .monto-saldo {
  text-align: left;
  width: 100%;
  color: #00BDA8;
  font-size: 210%;
  font-weight: 400;
}
.tab-content .cardbox .blanqueo-pass {
  border: 2px solid #007C68;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600;
  color: #fff;
  background: #007C68;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.usuarios_interno .usuario-info {
  width: 59%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
  background: #fff;
}
.usuarios_interno .usuario-info .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #00BDA8;
}
.usuarios_interno .usuario-info .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.usuarios_interno .usuario-info .info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: 20px;
  width: 60%;
}
.usuarios_interno .usuario-info .info-wrapper h2 {
  width: auto;
}
.usuarios_interno .usuario-info .info-wrapper .link {
  padding-left: 20px;
  width: auto;
}
.usuarios_interno .usuario-info .info-wrapper .data-user {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: #fff;
  color: #414141;
  border-radius: 5px;
  width: 60%;
}
.usuarios_interno .usuario-info .info-wrapper .data-user .dato {
  margin: 7px 27px 7px 0px;
}
.usuarios_interno .usuario-info .info-wrapper .data-user .dato.mitad {
  width: 20%;
}
.usuarios_interno .usuario-info .user-actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 25%;
}
.usuarios_interno .usuario-info .user-actions .suspender {
  color: #6C00FF;
  padding: 2px 0;
}
.usuarios_interno .usuario-info .user-actions .bloquear {
  color: #FF7773;
  padding: 2px 0;
}
.usuarios_interno .usuario-info .user-actions .cerrar-sesion {
  color: #414141;
  padding: 2px 0;
}
.usuarios_interno .payment-info {
  width: 39%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background: #fff;
}
.usuarios_interno .payment-info .qrcode {
  width: 100px;
  height: 100px;
}
.usuarios_interno .payment-info .qrcode img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.usuarios_interno .payment-info .cvu {
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
