<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div style="text-align:center;">
	<form id="miFormulario" style="width:30%; text-align:center; display:inline-block;" method="post">
		<header>
			<div id="titulo">Bienvenido!</div>
		</header>
		<div class="submenu"></div>
		<page>
			<div></div>
			<section class="">Login</section>
			<section></section>
			<section>
				<input type="text" name="tu_nombre" autocomplete="off" value="" placeholder="Usuario" required maxlength="128" required>
			</section>
			<section>
				<input type="password" name="tu_contrasenia" value="" autocomplete="off" placeholder="Password" maxlength="128" required>
			</section>
			<section>
				<button name="login_post" value="login_post" class="aceptar">Ingresar</button>
			</section>
		</page>
	</form>
</div>