<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<form class="main-content" id="main" method="post">
  <div class="contenedor">
    <div class="encabezado">
      <h1>Bienvenido!</h1>
    </div>
    <input
      type="text"
      name="tu_nombre"
      autocomplete="off"
      value=""
      placeholder="Usuario"
      required
      maxlength="128"
      required
    />

    <input
      type="password"
      name="tu_contrasenia"
      value=""
      autocomplete="off"
      placeholder="Password"
      maxlength="128"
      required
    />
    <button name="login_post" value="login_post" class="btn">Ingresar</button>
  </div>
</form>
