<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div style="text-align:center;">
    
	<form style="width:30%; text-align:center; display:inline-block;" id="avoid_ajax_call">
		<header>
			<div id="titulo" style="float:none;">CobroDigital.com</div>
		</header>
		<div class="submenu"></div>
		<page>
			<div></div>
			<div class="subtitulo">Salir del sistema</div>
			<div>
				<button name="logout_post" value="logout_post" class="aceptar">Cerrar sesión</button>
			</div>
		</page>
	</form>
</div>