<meta charset="UTF-8"/>

<div class="contenedor-pop-up swal2-container swal2-center swal2-fade swal2-shown" id="mensaje_sistema">
    <form>
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <img class="img-titulo" src="" id="icono">
            <br>
        </div>
        <h1 class="swal2-content" id="texto"></h1>
        <div class="bajada-popup" id="bajada"></div>
        <div class="swal2-actions" id="botonera">
            <div id="boton_pop_ok"></div>
            <button onclick="cerrar_modal_gestorlog()" type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: inline-block; background-color: rgb(221, 51, 51);">Ok</button>
        </div>
    </div>
    </form>
</div>
<style>
    .titulo{
        float: inherit;
        display: inline-block!important;
        margin-left: -2em;
    }
    .img-titulo{
        margin-top: 2em;
        width: 3em;
        height: inherit;
        display: inline-flex;
        vertical-align: middle;
        text-align: center;
    }
    a:active, a:hover {
        outline: none;
        text-decoration: none !important;
    }   
    .text-titulo{
        width: auto;
        display: inline-flex;
        vertical-align: middle;
        line-height: 1;
        margin-left: 2em;
        text-align: center;
    }
    .ctas-pop-up{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        margin-top: 5em;
        font-size: 90%;
    }
</style>
<script>
    // $("#boton_pop_ok").click(function () {
    //     $(this).parent().parent().parent().removeClass("active");
    // })
</script>