<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://efectivodigital.com.ar/">
    <meta property="og:type" content="website">
    <meta name="title" property="og:title" content="Efectivo Digital">
    <meta property="og:description" content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
    <meta property="og:image" content="assets/img/ogimage.jpg">
    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="https://efectivodigital.com.ar/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Efectivo Digital">
    <meta name="twitter:description" content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
    <meta name="twitter:image" content="assets/img/ogimage.jpg">

    <meta name="keywords" content="billetera virtual, billetera online, pagos online, cobros online, comprar online, pagar online, billetera integral, pagos QR, billetera virtual argentina">

    <title>Efectivo Digital</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
        <img src="assets/img/logo.svg" alt="">  
    </header>
    <main>
        <aside class="sidebar">
            <nav id="menu_principal">
               <a href="">Dashboard</a>
               <a class="active" href="">Usuarios</a>
               <a href="">Movimientos</a>
               <a href="">Reportes</a>
               <a href="">Administración</a>
            </nav>
        </aside>
        <!-- Contenedor General de pagina (cambia clase segun pagina pero siempre se mantiene la class main-content) -->
        <form class="main-content usuarios" id="main">
          <!-- Contenedor del contenido izquierdo de la pagina clase content-80(por 80% de width, a cualquier contenedor que le apliques esta clase va a tener width 80%)-->
            <div class="content-80">
              <!-- Encabezado -->
              <div class="encabezado">
                <h1>Usuarios</h1>
                <p class="total-count">Total: 1883</p>
              </div>
              <!-- Contenedor que da estilo a la caja -->
              <div class="contenedor">
                <div class="search-bar">
                  <input type="text" placeholder="Buscar por palabra clave"> 
                  <div class="btn-search"><i class="fas fa-search"></i></div>
                </div>
                <!-- Tabla de contenido -->
                <table class="tabla">
                  <thead>
                    <tr>
                      <th>Nombre y apellido</th>
                      <th>DNI / CUIT / CUIL</th>
                      <th>Razón Social</th>
                      <th>E-mail</th>
                      <th>Número de teléfono</th>
                      <th>Condición</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ricardo Alberto Suarez</td>
                      <td>XXXXXXXX</td>
                      <td>Nombre Razón Social</td>
                      <td>ricardo.suarez@gmail.com</td>
                      <td>+54 11 51313456</td>
                      <td>PEP</td>
                    </tr>
                    <tr>
                      <td>Ricardo Alberto Suarez</td>
                      <td>XXXXXXXX</td>
                      <td>Nombre Razón Social</td>
                      <td>ricardo.suarez@gmail.com</td>
                      <td>+54 11 51313456</td>
                      <td>PEP</td>
                    </tr>
                    <tr>
                      <td>Ricardo Alberto Suarez</td>
                      <td>XXXXXXXX</td>
                      <td>Nombre Razón Social</td>
                      <td>ricardo.suarez@gmail.com</td>
                      <td>+54 11 51313456</td>
                      <td>PEP</td>
                    </tr>
                    <tr>
                      <td>Ricardo Alberto Suarez</td>
                      <td>XXXXXXXX</td>
                      <td>Nombre Razón Social</td>
                      <td>ricardo.suarez@gmail.com</td>
                      <td>+54 11 51313456</td>
                      <td>PEP</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Contenedor del lado derecho  clase content-20(por 20% de width, a cualquier contenedor que le apliques esta clase va a tener width 20%)-->
            <div class="content-20 filtros-wrapper">
              <!-- Encabezado -->
              <div class="encabezado">
                <h2>Filtros</h2>
                
              </div>
              <!-- Clase contenedor es generica y da el box model generico y fecha le da los estilos de los filtros de la fecha para que queden inline -->
              <div class="contenedor fecha">
                <h3>Fecha</h3>
                <input type="text" placeholder="Desde">
                <input type="text" placeholder="Hasta">
              </div>
              <!-- Clase contenedor es generica y da el box model generico y filtros le da los estilos de los filtros para que queden inline -->
              <div class="contenedor filtros">
                <!-- Cada filtro debe estar contenido en este div para poder respetar los margenes y paddings correspondientes, despues los nombres o id de los input son indiferentes -->
                <div class="filtro">
                  <label for="dni">DNI / CUIT / CUIL</label>
                  <input type="text" id="dni" placeholder="XXXXXXX">
                </div>
                <div class="filtro">
                  <label for="razonsocial">Razon social</label>
                  <input type="text" id="razonsocial" placeholder="Nombre de razón social">
                </div>
                <div class="filtro">
                  <label for="email">E-mail</label>
                  <input type="text" id="email" placeholder="pepe@gmail.com">
                </div>
                <div class="filtro">
                  <label for="telefono">Número de teléfono</label>
                  <span class="prefijo-pais">+54</span>
                  <input type="text" id="telefono" class="cod-area" placeholder="11">
                  <input type="text" id="telefono" class="numero" placeholder="Numero">
                </div>
                <div class="filtro">
                  <label for="condicion">Condicion</label>
                  <select name="condicion" id="condicion" aria-placeholder="Todos">
                    <option value="Opcion 1">Opcion 1</option>
                  </select>
                </div>
                <div class="filtro">
                  <label for="estado">Estado</label>
                  <select name="estado" id="estado" aria-placeholder="Todos">
                    <option value="Opcion 1">Opcion 1</option>
                  </select>
                </div>
                <div class="filtro">
                  <label for="motivo">Motivo</label>
                  <select name="motivo" id="motivo" aria-placeholder="Todos">
                    <option value="Opcion 1">Opcion 1</option>
                  </select>
                </div>
                <div class="filtros-actions">
                  <div class="btn-outline">Limpiar</div>
                  <div class="btn">Filtrar</div>
                </div>
              </div>
              
            </div>
        </form>
    </main>
    
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="assets/js/global.js"></script>
</body>
</html>