<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form>
    <section class="contenedor-contenido">
        <div class="bienvenida-seccion">
            <h6>Configuración > <span class="bold">Gestión de Usuarios</span></h6>
            <h1 id="h1">Gestión de Usuarios de </h1>
            <h5>
                En este menú podrás dar de alta usuarios y brindarles los permisos de uso de la cuenta de forma tal que estén habilitados para retirar fondos o trabajar con las herramientas de cobranza.
            </h5>
            <div class="contenido">
                <div type="button" class="button btn-encabezado" name="mod_x.create" >Agregar Usuario</div>			

            </div>
        </div>	

        <div class="contenido contenedor-admin-usuarios">
            <div class="acciones-usuarios-pie">
            </div>
            <div></div>
            <!--        <div class="visualizacion-usuarios">
                        <div class="filtro-usuarios">
                            <label for="">Ver:</label>
                            <div type="button" class="activo">Todos</div>
                            <div type="button" >Activos</div>
                            <div type="button" >Inactivos</div>
                        </div>
                        <div class="orden-usuarios">
                            <label for="">Ordenar por:</label>
                            <select name="">				
                                <option>Alfabéticamente</option>
                                <option>Recientes</option>
                                <option>Actividad</option>
                            </select>
                        </div>
                    </div>-->
            <div id="cajitas" class="contenedor-admin-usuarios">
                <!--		
                        <div class="acciones-usuario">
                        <div class="iconos-acciones">
                                <div type="button" name="" class="icono historial-usuario"><img src="public/img/icono-historial.svg"><span class="tooltip">Historial</span></div>
                                <div type="button" name="" class="icono permisos-usuario"><img src="public/img/icono-permisos.svg"><span class="tooltip">Permisos</span></div>						
                        </div>
                        <div class="enlaces-acciones">
                                <div type="button" name="">Editar</div>
                        </div>					
                                    </div>-->
            </div>
            <!--<div class="info-cuentas"><span>2</span> Cuentas de <span>3</span></div>-->

            
        </div>
    </section>
</form>
<style>
    .btn-agregar-usuario{
        margin-bottom: 1%;
        margin-top: -12%;
        z-index: 100;
    }
</style>