<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form id="miFormulario">
    
</form>
<script>
    $("input:checkbox").click(function () {
        var buttons = $("input:button");
        var checkboxes = $("input:checkbox");
        var activos = $("input:checkbox:checked");
        $(this).val("1");
        $(this).attr("checked", "checked");
        for (var i = 0, max = buttons.length; i < max; i++) {
            if (activos.length > 0) {
                if (buttons[i].getAttribute('class') === 'oculto')
                    buttons[i].setAttribute('class', 'btn btn-primary visible');
            } else {
                if (buttons[i].getAttribute('class') === 'visible')
                    buttons[i].setAttribute('class', 'oculto');
            }
        }
    });

    $("#checkbox_todo").change(function () {
        var checkboxes = $(this).closest('form').find(':checkbox');
        $(this).prop("indeterminate", false);
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
            checkboxes.attr('value', '1');
        } else {
            checkboxes.prop('checked', false);
            checkboxes.attr('value', '0');
        }
    });

    $("td :checkbox").change(function () {

        var elementos = "td input:checkbox";
        var selector_principal = "#checkbox_todo";

        var todos = $(elementos);
        var activos = todos.closest(":checked");
        var principal = $(selector_principal);
        if (activos.length == 0) {
            principal.prop("indeterminate", false);
            principal.prop('checked', false);
            principal.attr('value', '0');
        } else if (todos.length > activos.length) {
            principal.prop("indeterminate", true);
        } else if (todos.length == activos.length) {
            principal.prop("indeterminate", false);
            principal.prop('checked', true);
            principal.attr('value', '1');
        }
    });
    
    
    
</script>