<meta http-equiv="content-type" content="text/html; charset=utf-8">

<div class="content-20 filtros-wrapper">
  <!-- Encabezado -->
  <div class="encabezado">
    <h2>Filtros</h2>
  </div>
  <!-- Clase contenedor es generica y da el box model generico y fecha le da los estilos de los filtros de la fecha para que queden inline -->
  <div class="contenedor fecha">
    <h3>Fecha</h3>
    <input type="date" name="fecha_desde" title="Desde">
    <input type="date" name="fecha_hasta" title="Hasta">
  </div>
  <!-- Clase contenedor es generica y da el box model generico y filtros le da los estilos de los filtros para que queden inline -->
  <div class="contenedor filtros">
    <!-- Cada filtro debe estar contenido en este div para poder respetar los margenes y paddings correspondientes, despues los nombres o id de los input son indiferentes -->
    <div class="filtro">
      <label for="dni">DNI / CUIT / CUIL</label>
      <input type="text" name="documento" placeholder="Documento" title="DNI-CUIT/CUIL">
    </div>
    <div class="filtro">
      <label for="razonsocial">Razon social</label>
      <input type="text" name="razon_social" placeholder="Razón Social">
    </div>
    <div class="filtro">
      <label for="email">E-mail</label>
      <input type="text" name="email" placeholder="E-mail">
    </div>
    <div class="filtro">
      <label for="telefono">Número de teléfono</label>
      <span class="prefijo-pais">+54</span>
      <input type="text" id="telefono" class="cod-area" placeholder="11">
      <input type="text" id="telefono" class="numero" placeholder="Numero">
    </div>
    <div class="filtro">
      <label for="condicion">Condicion</label>
      <select name="condicion" id="condicion" aria-placeholder="Todos">
        <option value="Opcion 1">Opcion 1</option>
      </select>
    </div>
    <div class="filtro">
      <label for="estado">Estado</label>
      <select name="estado" id="estado" aria-placeholder="Todos">
        <option value="Opcion 1">Opcion 1</option>
      </select>
    </div>
    <div class="filtro">
      <label for="motivo">Motivo</label>
      <select name="motivo" id="motivo" aria-placeholder="Todos">
        <option value="Opcion 1">Opcion 1</option>
      </select>
    </div>
    <div class="filtros-actions" id="div_buttons">
      <div class="btn-outline">Limpiar</div>
      <div type="submit" name="util_i.filter" class="btn">Filtrar</div>
    </div>
  </div>

</div>