<!DOCTYPE html>
<html lang="en">

<!--<head>
   Meta Tags 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
   Facebook Meta Tags 
  <meta property="og:url" content="https://efectivodigital.com.ar/">
  <meta property="og:type" content="website">
  <meta name="title" property="og:title" content="Efectivo Digital">
  <meta property="og:description"
    content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
  <meta property="og:image" content="assets/img/ogimage.jpg">
   Twitter Meta Tags 
  <meta property="twitter:url" content="https://efectivodigital.com.ar/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Efectivo Digital">
  <meta name="twitter:description"
    content="Efectivo Digital, la billetera virtual que tiene todo lo que necesitás. Pagá y cobrá de forma fácil y segura desde tu celular. No hace falta que tengas cuenta bancaria.">
  <meta name="twitter:image" content="assets/img/ogimage.jpg">

  <meta name="keywords"
    content="billetera virtual, billetera online, pagos online, cobros online, comprar online, pagar online, billetera integral, pagos QR, billetera virtual argentina">

  <title>Efectivo Digital</title>
   Favicon 
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
   Google Font 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
   Css 
  <link rel="stylesheet" href="assets/css/style.css">
   Font Awesome 
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>-->

<body>
<!--  <header>
    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
    <img src="assets/img/logo.svg" alt="" />
    <div class="logout-wrapper">
      <div class="logout header-logout"><i class="fas fa-sign-out-alt"></i></div>
    </div>
  </header>-->
  <!--<main>-->
<!--    <aside class="sidebar">
      <div class="cerrar-menu"><i class="fas fa-times"></i> Cerrar menu</div>
      <nav>
        <a href="">Dashboard</a>
        <a class="active" href="">Usuarios</a>
        <a href="">Movimientos</a>
        <a href="">Reportes</a>
        <a href="">Administración</a>
      </nav>
    </aside>-->
    <!--<div id="main">-->
      <!-- Contenedor General de pagina (cambia clase segun pagina pero siempre se mantiene la class main-content) -->
      <form class="main-content usuarios_interno" id="miFormulario">
        <!-- Header Usuario -->
        <div class="contenedor usuario-info">

          <div class="avatar">
            <img src="assets/img/userplaceholder.png" alt="">
          </div>
          <div class="info-wrapper">
            <!-- Llamada al nombre user por class nombre-user -->
            <h2 class="nombre-user">Ricardo Anibal Fort</h2>
            <a href="" class="link">Validar</a>
            <div class="data-user">
              <!-- Llama a los datos por clase si es check esta OK si es error muestra cruz y si es Pendiente o Completada muestra su respectivo titulo mediante css
                por lo que solo deberías hacer un toggle class segun corresponda -->
              <div class="dato">Registro: <span id="fecha-registro">01/01/2021</span></div>
              <div class="dato pendiente">Validación: </div>
              <div class="dato tercio check">Email </div>
              <div class="dato tercio error">Teléfono </div>
              <!-- Cambia clase cuando esta completada a completada -->
              <div class="dato tercio pendiente">Identidad: </div>
            </div>
          </div>
          <div class="user-actions">
            <a href="" class="suspender">Suspender</a>
            <a href="" class="bloquear">Bloquear</a>
            <a href="" class="cerrar-sesion">Cerrar Sesión</a>
          </div>
        </div>
        <div class="contenedor payment-info">
          <div class="qrcode">
            <img src="assets/img/qr-code.jpg" alt="">
          </div>
          <div class="cvu">
            <h3>CVU</h3>
            <span class="cvu-number">000000000000000000XXX</span>
          </div>
        </div>
        <!-- Tabs -->
        <div class="tabs">
          <!-- La tab activa debe agregarle la clase active y en caso de clickear otra borra la que ya esta y agregarle a la clickeada -->
          <div class="tab datos-generales active">Datos generales</div>
          <div class="tab datos-bancarios">Tarjetas</div>
          <div class="tab historial">Historial de movimientos</div>
          <div class="tab configuracion">Configuración</div>
          <div class="tab agenda-contactos">Destinatarios</div>
        </div>
        <!-- Content que carga cada tab -->
        <div class="contenedor tab-content">
          <div class="cardbox">
            <div class="encabezado">
              <h3>Datos personales</h3>
              <a href="" class="link">Editar</a>
            </div>
            <div class="dato nombrecompleto">
              <h4 class="titulo">Nombre y apellido</h4>
              <span>Ricardo Anibal Fort</span>
            </div>
            <div class="dato email">
              <h4 class="titulo">Email</h4>
              <span>ricardo.a@gmail.com</span>
            </div>
            <div class="dato telefono">
              <h4 class="titulo">Teléfono</h4>
              <span>54 11 51313456</span>
            </div>
            <div class="dato domicilio">
              <h4 class="titulo">Domicilio</h4>
              <span>Soler 2356 4D - Recoleta - CABA</span>
            </div>
            <div class="dato genero">
              <h4 class="titulo">Género</h4>
              <span>Masculino</span>
            </div>
            <div class="dato fechanacimiento">
              <h4 class="titulo">Fecha de nacimiento</h4>
              <span>01/01/1980</span>
            </div>
            <div class="dato pais">
              <h4 class="titulo">País de Residencia</h4>
              <span>Argentina</span>
            </div>
            <div class="dato nacionalidad">
              <h4 class="titulo">Nacionalidad</h4>
              <span>Argentina</span>
            </div>
          </div>
          <div class="cardbox multiple">
            <div class="cardbox cuentas-cobro">
              <div class="encabezado">
                <h3>Cuenta en Cobro Digital</h3>
                <a href="" class="link">Editar</a>
              </div>
              <div class="dato">
                <span class="comercio">Comercio sdf345</span>
                <span class="idm">IDM 1234</span>
              </div>
            </div>
            <div class="cardbox condicion-alcanzada">
              <div class="encabezado">
                <h3>Condición Alcanzada</h3>
              </div>
              <div class="dato">
                <span class="condicion">PEP / Sujeto Obligado / FATCA</span>
                <span class="cargo">Cargo: </span>
              </div>
              <div class="riesgo">
                <h4>Analisis de riesgo: </h4>
                <span class="nivel">Intermedio</span>
              </div>
            </div>
          </div>
          <!-- Esta al ser cardbox con la clase multiple permite que halla mas de un cardbox anidada dentro, para que se puedan ver correctamente debe mantener la clase multiple -->
          <div class="cardbox multiple">
            <div class="cardbox documentos">
              <div class="encabezado">
                <h3>Documentos</h3>
              </div>
              <div class="documento">
                Nombre del documento
              </div>
              <div class="documento">
                Nombre del documento
              </div>
              <div class="documento">
                Nombre del documento
              </div>
              <div class="documento">
                Nombre del documento
              </div>
            </div>
            <div class="cardbox saldo">
              <div class="encabezado">
                <h3>Saldo</h3>
              </div>
              <div class="monto-saldo">
                $ 20400.34
              </div>
            </div>
            <div class="blanqueo-pass">Blanquear contraseña</div>
          </div>
        </div>
      </form>
    <!--</div>-->
  <!--</main>-->

<!--  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="assets/js/global.js"></script>-->
</body>

</html>