/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 16, ../sass/assets/_type.sass */
body {
  font-size: 12px;
  font-family: "Work Sans", Arial, sans-serif;
  background: #012d41;
  color: #fff; }
  @media screen and (max-width: 600px) {
    /* line 16, ../sass/assets/_type.sass */
    body {
      font-size: 10px; } }

/* line 1, ../sass/layout/_generales.sass */
body {
  position: relative; }

/* line 4, ../sass/layout/_generales.sass */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 9, ../sass/layout/_generales.sass */
img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

/* line 15, ../sass/layout/_generales.sass */
input, textarea {
  font-family: "Work Sans", Arial, sans-serif; }
  /* line 17, ../sass/layout/_generales.sass */
  input:focus, textarea:focus {
    outline: none; }

/* line 20, ../sass/layout/_generales.sass */
a {
  text-decoration: none;
  color: inherit; }
  /* line 23, ../sass/layout/_generales.sass */
  a:visited {
    color: inherit; }

/* line 26, ../sass/layout/_generales.sass */
.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #012d41;
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    /* line 26, ../sass/layout/_generales.sass */
    .background {
      height: auto;
      min-height: 100vh;
      max-height: 150vh; } }

/* line 36, ../sass/layout/_generales.sass */
.contenido {
  width: 100%;
  padding: 25px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  /* line 46, ../sass/layout/_generales.sass */
  .contenido .contenedor-form {
    width: 600px;
    height: auto;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #fff;
    background-image: url("../img/bg-form.png");
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 14px 5px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 600px) {
      /* line 46, ../sass/layout/_generales.sass */
      .contenido .contenedor-form {
        width: 90%;
        background-size: 150% auto;
        background-position: top right; } }
    /* line 61, ../sass/layout/_generales.sass */
    .contenido .contenedor-form .form-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
      /* line 69, ../sass/layout/_generales.sass */
      .contenido .contenedor-form .form-header .logo {
        width: 23%;
        margin-top: 35px; }
        @media screen and (max-width: 600px) {
          /* line 69, ../sass/layout/_generales.sass */
          .contenido .contenedor-form .form-header .logo {
            width: 40%; } }
      /* line 74, ../sass/layout/_generales.sass */
      .contenido .contenedor-form .form-header .titulo-form {
        display: inline-block;
        padding: 8px 15px;
        background: #e7454a;
        letter-spacing: 1px;
        margin-top: 25px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 190%;
        text-align: center; }
    /* line 85, ../sass/layout/_generales.sass */
    .contenido .contenedor-form form {
      width: 80%;
      margin: 60px 10% 0 10%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center; }
      /* line 94, ../sass/layout/_generales.sass */
      .contenido .contenedor-form form fieldset {
        width: 100%;
        margin-bottom: 15px; }
        /* line 97, ../sass/layout/_generales.sass */
        .contenido .contenedor-form form fieldset.half {
          width: 48%; }
          @media screen and (max-width: 600px) {
            /* line 97, ../sass/layout/_generales.sass */
            .contenido .contenedor-form form fieldset.half {
              width: 100%; } }
        /* line 101, ../sass/layout/_generales.sass */
        .contenido .contenedor-form form fieldset input {
          width: 100%;
          border: none;
          border-bottom: 1px solid #d5d8de;
          color: #656565;
          font-family: "Work Sans", Arial, sans-serif;
          background: none;
          padding: 15px 5px;
          margin-bottom: 5px; }
          /* line 110, ../sass/layout/_generales.sass */
          .contenido .contenedor-form form fieldset input:focus {
            border-bottom: 1px solid #e7454a; }
            /* line 112, ../sass/layout/_generales.sass */
            .contenido .contenedor-form form fieldset input:focus label {
              border-bottom: 1px solid #e7454a !important; }
          /* line 114, ../sass/layout/_generales.sass */
          .contenido .contenedor-form form fieldset input.carga-cv {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1; }
        /* line 121, ../sass/layout/_generales.sass */
        .contenido .contenedor-form form fieldset textarea {
          width: 100%;
          height: 150px;
          border: none;
          border-bottom: 1px solid #d5d8de;
          color: #656565;
          font-family: "Work Sans", Arial, sans-serif;
          background: none;
          padding: 15px 5px; }
          /* line 130, ../sass/layout/_generales.sass */
          .contenido .contenedor-form form fieldset textarea:focus {
            border-bottom: 1px solid #e7454a; }
        /* line 132, ../sass/layout/_generales.sass */
        .contenido .contenedor-form form fieldset .falso-cv {
          width: 100%;
          display: block;
          border: none;
          border-bottom: 1px solid #d5d8de;
          color: #656565;
          font-family: "Work Sans", Arial, sans-serif;
          background: none;
          padding: 15px 5px;
          margin-bottom: 5px;
          margin-top: 5px;
          position: relative;
          cursor: pointer; }
          /* line 145, ../sass/layout/_generales.sass */
          .contenido .contenedor-form form fieldset .falso-cv .icono-upload {
            width: 15px;
            position: absolute;
            right: 5px;
            bottom: 10px; }
      /* line 150, ../sass/layout/_generales.sass */
      .contenido .contenedor-form form .btn-enviar {
        background: #012d41;
        color: #fff;
        border-radius: 50px;
        padding: 10px 35px;
        width: 25%;
        margin: 25px 0 25px 75%;
        font-family: "Work Sans", Arial, sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 110%;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        transition: all 0.3s ease; }
        @media screen and (max-width: 600px) {
          /* line 150, ../sass/layout/_generales.sass */
          .contenido .contenedor-form form .btn-enviar {
            width: 100%;
            margin: 25px 0;
            padding: 15px 35px;
            font-size: 150%; } }
        /* line 171, ../sass/layout/_generales.sass */
        .contenido .contenedor-form form .btn-enviar:hover {
          background: #e7454a; }

/* line 174, ../sass/layout/_generales.sass */
.error {
  color: #e7454a;
  padding: 0 5px;
  font-weight: 500; }

/* line 180, ../sass/layout/_generales.sass */
.redes {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: 25px;
  left: 0;
  padding-right: 20px; }
  @media screen and (max-width: 600px) {
    /* line 180, ../sass/layout/_generales.sass */
    .redes {
      position: relative;
      justify-content: center;
      bottom: auto;
      left: auto;
      margin: 25px 0;
      padding: 0; } }
  /* line 200, ../sass/layout/_generales.sass */
  .redes .red {
    width: 25px;
    margin: 0 7px;
    transition: all 0.3s ease-out;
    cursor: pointer; }
    /* line 205, ../sass/layout/_generales.sass */
    .redes .red:hover {
      transform: translateY(-3px); }
.success{
    color: green;
    margin-bottom: 35px;
    font-size: 109%;
    text-align: center;
    line-height: 1.3;
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
}
